<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/" xmlns:set="http://www.sitecore.net/xmlconfig/set/">
    <sitecore>
        <reporting>
            <remote>
                <proxyDataSource set:type="Sitecore.Support.Analytics.Reporting.Datasources.Remote.RemoteReportDataSourceProxy, Sitecore.Support.109562"/>
            </remote>
        </reporting>
    </sitecore>
</configuration>